.header-info {
    color: #fff;
    background-color: #000915;
    position: fixed;
    z-index: 5;
    height: 30px;
    width: 100%;
    display: flex;
}

.header-wrapper {
    max-width: 1440px;
    margin: auto;
    display: flex;
    width: 100%;
}

.header-info-expanded {
    justify-content: space-between;
    align-items: center;
}
