.menu-icon-container {
    left: 250px;
    height: 44px;
    min-width: 140px;
    background-color: #0071ce;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    cursor: not-allowed;
}

.menu-icon {
    cursor: pointer;
    font-size: 25px;
    margin-left: 13px;
    margin-top: 9px;
    margin-right: 10px;
}

.show-category {
    display: inline-block;
    position: absolute;
    padding-top: 11px;
}
