.site-header{
    width: 100%;
    height: 74px;
    display: flex;
    z-index: 5;
    position: fixed;
    padding-bottom: 40px;
    margin-top: 30px;
    background-color: rgb(4, 30, 66);
}

.site-header.compact {
    height: 58px;
}

