.rct-page-content {
    padding: 12px;
}

.hAiWRf {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px 15px;
    margin: 10px 5px 25px 10px;
    font-size: 12px;
    color: rgb(66, 66, 66);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 13px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px;
}

.hsYAQV {
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(0, 113, 206, 0.08);
    padding-top: 10px;
}

.laXAqL {
    width: 100px;
    margin-top: 15px;
}

.leVDTI {
    font-size: 34px;
    font-weight: bold;
    color: rgb(4, 30, 66);
}

.dTOjoM {
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 113, 206);
}

.fUqvVt {
    width: 100px;
    height: 5px;
    background: rgb(255, 194, 32) none repeat scroll 0% 0%;
    margin: 15px auto;
}

.cFwMqv {
    font-size: 16px;
    color: rgb(65, 64, 66);
    padding: 0px 15px 20px;
}